* {
  border: solid red 0.1px;
}

#container {
  width: 60%;
  margin: auto;
}

header {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.1);
}
header p {
  text-align: center;
}

nav {
    height: 40px;
  display: flex;
  justify-content: center;
}

main{
    display: flex;
    justify-content: center;
}

main div{
    width: 50%;
}