* {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  width: 60%;
  margin: auto;
}

header,
nav,
main,
footer {
  margin: 10px;
  background-color: rgb(224, 224, 224);
}

header {
  height: 80px;
}

header p {
  text-align: center;
}

#header img {
  float: right;
  margin: 5px;
}

header,
nav,
main,
footer {
  border-radius: 10px;
  border: solid 3px blue;
}

nav {
  height: 40px;
  display: flex;
  justify-content: center;
}

.button {
  width: 25%;
  height: 30px;
  margin-top: 5px;
  border: solid 1px blue;
  border-radius: 5px;
  background-color: sandybrown;
  text-decoration: none;
}

.button:hover {
  background-color: seagreen;
}

.button a {
  text-decoration: none !important;
  color: white;
}

main {
  display: flex;
  justify-content: center;
}

main div {
  width: 50%;
  padding: 10px;
}

footer {
  height: 80px;
}

footer p {
  text-align: center;
}

#submit {
  display: block;
  margin: auto;
}

#caja_amarillo {
  height: 80px;
  width: 80%;
  background-color: yellow;
  margin: 20px auto;
}

#right img {
  float: left;
  width: 50%;
  margin: 0px 10px 5px 0px;
}

#fonde {
  display: inline-block;
}

#left {
  background-color: white;
  margin: 10px 5px 10px 10px;
  border-radius: 10px;
}

#right {
  background-color: white;
  margin: 10px 10px 10px 5px;
  border-radius: 10px;
}

footer {
  height: 80px;
  border-radius: 20px;
}

footer p {
  text-align: center;
}

@media screen and (max-width: 960px) {
  #container {
    width: 90%;
    margin: auto;
  }
  .button {
    width: 70%;
    margin: 3px;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  #left,
  #right {
    width: 90%;
    margin: 4px auto;
  }
  main {
    display: flex;
    flex-direction: column;
    padding: 4px 0px;
  }
  #right img {
    width: 100%;
    margin-bottom: 5px;
  }
}
